.imdchat{
    display: flex;

    .persons{
        background: $white;
        width:22%;
        height:100vh;
    }

    .chat{
        background: $lightgrey;
        width:78%;
        height:100vh;
        box-shadow: $boxshadow;
    }
}